<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Return Book</title></head>
<body>
<h1>Return a Book</h1>
<form th:action="@{/library/return}" method="post">
    <label>Username:</label><input type="text" name="username" required/><br/><br/>
    <label>Book ID:</label><input type="number" name="bookId" required/><br/><br/>
    <input type="submit" value="Return"/>
</form>
<p th:text="${message}" style="color:green;"></p>
<a th:href="@{/welcome}">Back to library</a>
</body>
</html>
